nav{
    padding:5px;
    margin:0px
}
nav > a{
    text-transform:uppercase;
    text-decoration:none;
    margin-left:12%;
}
nav > a:hover{
    color:rgb(250,180,120)
}
a > nav{
  text-align:right;  
}
img{
   float:left;
   border-radius:90%; 
}