body{
    background-repeat:no-repeat;
    background-image:cover;
    background-image:url('https://images.pexels.com/photos/490466/pexels-photo-490466.jpeg?cs=srgb&dl=arizona-asphalt-beautiful-490466.jpg&fm=jpg');
}
nav{
    padding:5px;
    margin:0px;
    border-radius:40px;
    text-align:right;
    background-color:white;
}

nav > a{
    text-transform:uppercase;
    text-decoration:none;
    margin-right:10px;
}
nav > a:hover{
    color:rgb(250,180,120)
}
h1{
    font-size:large;
    font-family:monospace;
}
img{
   margin-right:20px;
   float:left;
   padding:5px;
   border-radius:80%;
   width:300px;
   height:400px; 
} 

h2{
    text-align:center;
    font-style:italic;
    font-size:20px;
}
p{
    font-size:20px;
    font-family:monospace;
}
ul>li{
    font-size:18px;
}

table{
    border:2px solid black;
    margin-right:15px;
}
tr{
    border:1px solid balck;
}
th{
    border:1px solid black;
    padding:15px;
    color:black;
    font-weight:bold;
}
td{
    border:1px solid black;
    padding:10px;
}
ol>li>a{
    text-decoration:none;
    color:black;
    font-size:20p;
    text-decoration:underline;
    text-align:center; 
    font-weight:bold;  
}
ol>li>a:hover{
    color:blueviolet;
}
footer{
    text-align:center;
    border-radius: 60px;
    background-color:white;
}